.data_container {
  width: 70%;
  margin: auto;
  margin-bottom: 200px;
  background: rgba(19,24,35,0.4);
  -webkit-backdrop-filter: blur(33px);
  backdrop-filter: blur(33px);
  border-radius: 21px;
  border: 1px solid rgba(19,207,207,0.1);
}

.data_container .other_data {
  margin: 16px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .data_container { 
    width: 100%;
  }
}